html {
  font-family: "Fira Code";
}

body {
  background-color: black;
  margin: 20px;
}

.lock-container {
  margin-bottom: 20px;
}

button {
  background-color: greenyellow;
  color: black;
  border: 2px solid greenyellow;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "Fira Code";
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: black;
  color: greenyellow;
}

input[type="text"] {
  display: none;
  background-color: black;
  color: greenyellow;
  border: 2px solid greenyellow;
  border-radius: 5px;
  padding: 5px;
  font-family: "Fira Code";
  font-size: 14px;
  width: 200px;
  box-shadow: 0 0 10px greenyellow;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 15px lime;
  border-color: lime;
}

label {
  color: greenyellow;
  display: none;
}

.pass, .pass2, .pass3, .pass4, .pass5, .pass6, .pass7, .pass8 {
  display: none;
}

.instruction {
  color: greenyellow;
  font-family: "Fira Code";
  white-space: pre-wrap;
  margin: 10px 0;
}

h3 {
  background-color: black;
  padding: 20px;
  position: relative;
  top: -10px;
  margin-bottom: -10px;
  color: greenyellow;
  text-align: center;
  overflow: hidden;
  border-right: .15em solid rgb(0, 0, 255);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
      typing 2s steps(40, end),
      blink-caret .6s step-end infinite;
}

#start {
  overflow: hidden;
  color: greenyellow;
}

@keyframes typing {
  from { width: 0 }
  to { width: 19ch }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}

h3.finished {
  border-right: none;
  animation: typing 2s steps(40, end);
}
